In [1]:
100+200

300

# 1. Python 프로그래밍 언어 기초

## 1-1 Jupyter Notebook 사용법

- 주피터 노트북 명령어
    - Cell : Python 코드나 주석(Markdown)을 입력할 수 있는 공간
    - Cell Mode : 하나의 Cell에 코드나 주석을 사용할 수 있는 상태
    - Command Mode : Cell 추가/삭제 등 Cell 자체를 편집할 수 있는 상태
        - Cell Mode 상태에서 [esc]키 누르면 활성
        - Cell 생성 : 'B'(현재 Cell 아래로 새로운 Cell 생성) / 'A'(현재 Cell 위로 새로운 Cell 생성)
        - Cell 삭제 : 'X'(현재 선택 Cell 삭제)
        - 실행 취소 : 'Z'
        - 주석 Markdown : 'M' / 코드 입력 : 'Y'
        - 실행 : [Shift] + [Enter]

# 2. 파이썬 기초 문법

## 2-1. 변수
- 변수 : 데이터를 들고다니는 공간
- 변수를 선언한다 : 특정 값이나 결과를 사용자가 지정한 이름으로 사용한다.(등호기호 [=] 을 기준으로 오른쪽의 값을 왼쪽에 사용자가 지정한 이름으로 선언)

In [2]:
data1 = 100
data2 = 50.1

In [3]:
data1 + data2

150.1

## 2-2. 데이터 타입

- 파이썬에서 데이터 타입 : 숫자형 / 문자형 / 논리형 (참 / 거짓)
- 숫자형 : 정수형(int) / 실수형(float)
- 문자형 : 문자열(str) / 범주형(object)
- 논리형 : 참 / 거짓(True / False / bool) -> 첫글자를 대문자로 사용
- 파이썬은 대소문자 명확히 구분
- type( ) : 특정 변수 안에 있는 데이터 타입 확인

In [8]:
# 주석 (Markdown) : 파이썬 코드에 영향을 주지 않는 설명 따위를 입력하는 공간 / # 기호
type(data2)

float

In [9]:
data3 = '파이썬 데이터 분석' # 문자데이터를 data3 변수에 선언
data3 # 문자는 따옴표(') 또는 쌍따옴표(")를 이용해 표현

'파이썬 데이터 분석'

In [10]:
# 논리형 타입
True

True

In [11]:
type(True)

bool

## 2-3. 파이썬 연산자 (Operator)

- 데이터 타입에 따라 연산의 방법이 달라진다

In [13]:
data1 + data2

150.1

In [14]:
data1-data2

49.9

In [15]:
data1 * data2

5010.0

In [16]:
data1 / 3

33.333333333333336

In [17]:
data1 ** 2

10000

In [18]:
# 문자데이터 연산
data4 = "Python"
data5 = "데이터 분석"

In [19]:
data4 + data5

'Python데이터 분석'

In [20]:
data4 * 3

'PythonPythonPython'

In [21]:
data4 * data1

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [25]:
data5 = 100
data6 = 70

In [26]:
data5 < data6

False

In [27]:
data5 > data6

True

In [28]:
data5 >= data6

True

In [29]:
data5 >= data5

True

In [30]:
data5 == data6

False

In [31]:
data5 = data5

In [32]:
print(data5)

100

In [33]:
data5 != data6

True

In [34]:
data5 =! data6

In [35]:
print(data5)

["'data6'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는", '배치 파일이 아닙니다.']

In [36]:
type(data5)

IPython.utils.text.SList

In [40]:
data5 = 100
data5

100

## 2-4. 파이썬 자료 구조

- 하나의 변수에 여러개의 데이터를 들고 다니고 싶을 때
- 데이터를 들고다닐 수 있는 상자의 종류
    - List (리스트)
    - Tuple (튜플)
    - Set (셋, 집합)
    - Dictionary (딕셔너리, 사전)

In [41]:
# 리스트(대괄호를 사용하여 데이터를 적재)
data8 = [20, 30, 50, 10, 90, 20]
data8
# 데이터상 순서가 존재 (입력순서를 기억) -> 중복값 허용 / 새로운 데이터 추가, 삭제, 변경 가능

[20, 30, 50, 10, 90, 20]

In [46]:
type(data8)
#리스트 내에서는 문자/ 숫자 동시에 선언 가능

list

In [49]:
data8.append(150) # 현재 선언된 data8 리스트 맨 끝에 150 값을 새로 추가
# .append( ) : 함수 / 특정 리스트에 특정 값을 추가하는 기능을 가진 함수 -> 실행할때마다 추가됨
# 함수 : 파이썬에서 특정 기능을 수행하기 위해 프로그래머들이 만들어놓은 단어 및 구문
data8

[20, 30, 50, 10, 90, 20, 150, 150, 150, 150, 150, 150]

In [50]:
data8.remove(150)

In [51]:
data8

[20, 30, 50, 10, 90, 20, 150, 150, 150, 150, 150]

In [53]:
data8.remove(150)

In [55]:
data8.insert(0 , 300)
data8

[300, 300, 20, 30, 50, 10, 90, 20, 150, 150, 150, 150]

In [56]:
data8.remove(300)

In [57]:
data8

[300, 20, 30, 50, 10, 90, 20, 150, 150, 150, 150]

In [58]:
data8.insert(2, 300)
data8

[300, 20, 300, 30, 50, 10, 90, 20, 150, 150, 150, 150]

In [59]:
data8.remove(300)
data8

[20, 300, 30, 50, 10, 90, 20, 150, 150, 150, 150]

In [60]:
data8.insert(9, 1)
data8

[20, 300, 30, 50, 10, 90, 20, 150, 150, 1, 150, 150]

In [61]:
data8.remove(150)
data8

[20, 300, 30, 50, 10, 90, 20, 150, 1, 150, 150]

In [62]:
#Indexing 색인 : 특정 위치에 존재하는 데이터를 찾는 것 / 대괄호를 활용
data8[0] #data8 리스트 내에 있는 0번째 위치한 값을 확인

20

In [63]:
# 맨 끝에서 위치를 계산해 데이터를 찾을 때
data8[-1] # Indexing에서 음수 기호는 맨 뒤에서부터 순서부여 -1이 첫번째

In [64]:
# 특정 범위의 데이터를 모두 확인하고자 할 때
data8[0 : 4] #0번째부터 4번째 전까지 데이터 추출

[20, 300, 30, 50]

In [67]:
data9 = data8[-3 :] # 맨뒤 3번째부터 맨끝까지 호출한다음 새로운 이름의 변수로 선언
data9

[1, 150, 150]

In [68]:
# Python에서 대괄호 :
# 1. 특정 데이터를 담는 리스트를 구성 (list)
# 2. 특정 자료구조 내, 특정 위치에 존재하는 데이터를 확인 (Indexing)

In [69]:
# Tuple (튜플) / 소괄호를 이용해 선언
#데이터의 순서가 존재 / 중복값 허용 / 새로운 데이터를 추가, 삭제 변경하는 것은 불가능
data10 = (90, 100, 20,100, 15)
type(data10)

tuple

In [70]:
data10[0]

90

In [71]:
data10.append(200)

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
data10.remove(15)

AttributeError: 'tuple' object has no attribute 'remove'

In [76]:
data11 = list(data10) # 튜플이었던 자료구조를 리스트형태로 변환
data11

[90, 100, 20, 100, 15]

In [74]:
data10

(90, 100, 20, 100, 15)

In [77]:
data11

[90, 100, 20, 100, 15]

In [78]:
#셋 (Set / 집합) / 중괄호 활용 선언
# 데이터 상 순서가 존재하지 않음 / 중복값 구별 불가 / 데이터를 추가, 삭제, 변경 가능
data11 = {30, 20, 20, 90, 150, 30}
data11 # Indexing 불가

{20, 30, 90, 150}

In [79]:
type(data11)

set

In [80]:
# 집합연산 가능
data12 = {20,30,40,50,60}
data13 = {50, 60, 70,80,90}

In [81]:
#교집합
data12 & data13

{50, 60}

In [82]:
#합집합
data12 | data13

{20, 30, 40, 50, 60, 70, 80, 90}

In [83]:
data12 | data11

{20, 30, 40, 50, 60, 90, 150}

In [85]:
#차집합
data12 - data13

{20, 30, 40}

In [86]:
#대상 차집합 ( 교집합을 제외한 나머지)
data12 ^ data13

{20, 30, 40, 70, 80, 90}

In [87]:
#만약 두 리스트에서 공통된 데이터를 찾고싶다면?
data14 = [30,40,50,60]
data15 = [50,60,100,200]

In [89]:
list(set(data14) & set(data15))
#리스트로 존재했던 각각의 변수를 set으로 바꾸어 교집합 연산 수행 후 결과를 다시 리스트로 변경

[50, 60]

In [90]:
# 딕셔너리 (사전) / 중괄호를 이용하여 표현 {key : value}
# key - value 쌍으로 매칭되어 표현되는 데이터 자료구조
data16 = {'이름' : '홍길동','나이':'29','지역':'서울'}
type(data16)
# 콤마(,)는 데이터 간 구분 역할로 사용

dict

In [91]:
# 딕셔너리의 경우, Key를 찾아올 때, 해당 Key에 매칭되는 Value값이 출력
# Pandas 라이브러리의 시리즈와 데이터프레임 구조에 근간이 되는 자료구조
data16['이름']

'홍길동'

In [93]:
data16.keys() # 해당 딕셔너리에 존재하는 모든 키값 호출

dict_keys(['이름', '나이', '지역'])

In [96]:
data16.values() # 해당 딕셔너리에 존재하는 모든 value 호출

dict_values(['홍길동', '29', '서울'])

In [97]:
#딕셔너리에 새로운 key-value를 추가
data16['성별'] = '남성'

In [98]:
data16

{'이름': '홍길동', '나이': '29', '지역': '서울', '성별': '남성'}

In [99]:
data16['나이'] = '30'

In [102]:
data16

{'이름': '홍길동', '나이': 30, '지역': '서울', '성별': '남성'}

In [103]:
#두개의 리스트를 이용해 하나의 딕셔너리 구성
data17 = ['이름','전공','나이','지역']
data18 = ['홍길동','물리','30','경기']

In [105]:
dict(zip(data17, data18))

{'이름': '홍길동', '전공': '물리', '나이': '30', '지역': '경기'}

## 2-5 문자열 처리

- 문자 데이터에 대한 다양한 처리기법
- 정형 데이터 뿐만 아니라 자연어처리/크롤링등 다양하게 사용

In [107]:
# 따옴표
data17 = '유-유-유-유-유-유-유-유~ 마그네틱~'
len(data17) # len() : 특정 자료의 데이터 개수 확인
#문자에 대해 적용할 경우 문자 글자 수를 출력

22

In [108]:
'''파이썬 데이터 분석
통계에서 데이터 마이닝을 거쳐,
빅데이터까지 ~ '''
# \n : 줄바꿈 기호

'파이썬 데이터 분석\n통계에서 데이터 마이닝을 거쳐,\n빅데이터까지 ~ '

In [109]:
print('''파이썬 데이터 분석
통계에서 데이터 마이닝을 거쳐,
빅데이터까지 ~ ''')
#문자열에서 print 함수 사용할때 줄바꿈 / tap / 들여쓰기 등이 포함된다

파이썬 데이터 분석
통계에서 데이터 마이닝을 거쳐,
빅데이터까지 ~

In [110]:
#문자열 인덱싱
data18 = '네게 그런 사람이~ 나일 순 없는지~ 네 곁에 있는 내 친구가 아니라하~'
data18[0]

'네'

In [111]:
data18[0:15]

'네게 그런 사람이~ 나일 순'

In [117]:
# 포멧팅
mbti = input('MBTI를 입력하시오. ') # input : 외부에서 사용자가 직접 값을 입력하는 함수
#사용자가 입력한 문자를 mbti변수로 선언
blood_type = 'RH+O'

f'안녕하세요. 제 MBTI는 {mbti}입니다. 혈액형은 {blood_type}이에요.'

MBTI를 입력하시오.  ㄴㅁㄹ디ㅏ

'안녕하세요. 제 MBTI는 ㄴㅁㄹ디ㅏ입니다. 혈액형은 RH+O이에요.'

In [120]:
#포멧팅 응용 (딕셔너리를 활용)
data19 = {'이름' : '신우철','나이' : '25', 'MBTI' : 'ENTP'}

f'''안녕하세요. 제 이름은{data19['이름']}입니다. 저는 현재 {data19['나이']}입니다.
제 mbti는 {data19['MBTI']}입니다.'''

'안녕하세요. 제 이름은신우철입니다. 저는 현재 25입니다.\n제 mbti는 ENTP입니다.'

In [123]:
# 문자 개수 세기
data4 = 'show me the money'
data4.count('e')

3

In [124]:
data4.count('money')

1

In [126]:
# 문자열 나누기
data4.split(' ') #특정 문자를 기준으로 나눠진 문자열들이 리스트로 표현

['show', 'me', 'the', 'money']

In [129]:
data5 = '안녕하세요. 오늘 삼전 주가는 100,000원입니다.'
data5.find('원')

24

In [130]:
data5[17:24]

'100,000'

# 3. 파이썬 구문 (Statement)

- 특정 코드를 반복하거나, 특정 조건에 대해 원하는 코드가 실행될 수 있도록 구성
    - 조건문 : 특정 조건에 대해 코드가 실행될 수 있도록 구성
    - 반복문 : 특정 범위나 횟수에 의해 코드가 반복될 수 있도록 구성
    - 예외구문 : 코드를 실행함에 있어, 예외상황에 대한 동작을 따로 수행하도록 구성

## 3-1. 조건문 (if)

In [134]:
data1 = 10

# 특정 비교구문이나 조건을 걸어, 해당 조건이 True 값이 나오는 경우, 아래의 종속문장을 수행
if data1 >= 30 :
    #들여쓰기 : tab키나 spacebar키를 이용해 공백을 주어, 문장의 종속관계를 표현
    print('해당 데이터는 30보다 크다')
else : # 위의 조건문이 맞지않는경우 아래의 종속문장이 수행
    print('해당 데이터는 30보다 작다')

해당 데이터는 30보다 작다

In [138]:
# 여러 조건을 걸어 해당 조건에 맞는 코드를 수행하고자 할 때
data2 = 79

#여러 조건이 걸렸을 때, 순차적으로 맨위 구문부터 확인하면서 수행
if data2 >= 90:
    print('A')
elif data2 >=80:
    print('B')
elif data2 >=70:
    print('C')
else:
    print('F')

C

In [139]:
# 문자열에서 특정 단어가 포함되어 있는지 판별
data3 = "Python 데이터 분석"

if "Java" in data3:
    print('Java')
elif "R" in data3:
    print('R')
elif "Python" in data3:
    print('Python')
else:
    print('etc')

Python

In [141]:
#리스트 내 특정 데이터가 있는지 판별
data4 = [100, 200, 300, 400]

if 100 in data4:
    print('A')
else:
    print('B')

A

In [142]:
# 리스트 내 특정 값이 없는지 확인
if 100 not in data4:
    print('A')
else:
    print('B')

B

In [153]:
# 조건문 표현식 (조건문을 더 짧고 간결하게 표현)
data5 = 2
if data5 >= 50 :
    print('up')
else:
    print('down')

down

In [155]:
'up' if data5 >= 50 else 'down'

'down'

In [154]:
data6 = 'up' if data5 >= 50 else 'down'
data6

'down'

## 3-2. 반복문 (While / For)

In [1]:
#While

data7 = 200

while data7 >= 150:
    print('go')
    break

go

In [3]:
data8 = 0

while data8 < 10:
    print(data8)
    data8 += 1

0
1
2
3
4
5
6
7
8
9

In [6]:
# 조건 초기화
data9 = 0
while data9 < 5:
    data9 += 1
    if data9 == 3:
        print('A')
        continue # While문 뒤에 존재하는 모든 종속문장을 무시하고, 비교구문으로 돌아가 반복을 수행
        print(data9)

1
2
A
4
5

In [7]:
#For 반복문 : 특정 범위나 횟수만큼 종속문장을 반복
# range(n, m) : 특정 범위의 정수를 출력하는 구문(n번째부터, m번 이전까지 정수 출력)

for i in range(1, 10): #range에서 생성된 정수가 하나씩 i 매개변수 선언이 되어 반복
    # i 매개변수 : 특정 구문 내에서 사용하는 변수
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
# 리스트 내 데이터 갯수만큼 for문 반복
# 리스트 내 값을 순서대로 하나씩 매개변수에 선언하여 반복
for i in [100, 200, 300, 400]:
    print(i)

100
200
300
400

In [13]:
# index : 데이터의 순서 (indexing 특정 순서의 데이터를 확인한다)
# 특정 리스트의 데이터를 index(순서)와 함께 출력
data10 = ['홍길동','성춘향','이몽룡','허준','이순신']
for i in range(len(data10)):
    print(i , data10[i])
# Series 순열 : index(순서) - value(데이터값)으로 구성된 데이터구조

0 홍길동
1 성춘향
2 이몽룡
3 허준
4 이순신

In [15]:
#리스트 내 앞/ 뒤 순서의 자료에 대한 연산을 동시에 수행
data11= [200,300,400,500,600]

for i in range(len(data11)-1):
    print(data11[i] + data11[i+1])

500
700
900
1100

In [16]:
# 리스트 내에 튜플을 병용하여 사용
data12 = [(100,200), (300,500), (500,700)]
data12

[(100, 200), (300, 500), (500, 700)]

In [17]:
type(data12)

list

In [19]:
for i,k in data12:
    print(i, k, i+k)

100 200 300
300 500 800
500 700 1200

In [20]:
# List Comprehension 리스트 컴프리헨션
# For문을 이용해서 특정 리스트를 구성, 해당 리스트를 축약해 사용
data13 = []
for i in range(1,11):
    data13.append(i)

In [21]:
data13

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[x for x in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
[x+100 for x in range(1, 11)]

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [24]:
# 1부터 10까지 정수중 5 이상인 수만 뽑아서 100씩 더하며 리스트로 구성
[x+100 for x in range(1, 11) if x>=5]

[105, 106, 107, 108, 109, 110]

## 3-3. 예외 처리 구문 (Try / Except / Finally)

- 특정 구문을 수행하다가 구조적인 오류들이 발생
- 오류를 방지하기 위해 사용하는 예외 처리 구문
- 프로그램 형태로 파이썬 코드를 수행시킬 때 많이 사용
- 데이터 분석에서는 크롤링 또는 업무자동화(RPA)같은 자동화된 반복 수행 작업에 필수로 사용

In [35]:
try :
    data14 = []
    for i in range(0,20):
        data14.append(i)
    data14.remove(20)
# try구문이 정상적으로 실행되다가 오류가 발생할 경우 아래 종속문장을 수행
except Exception as e: 
# Exception: 예외처리 구문이 작동되다가 오류가 발생하면 해당 오류 메시지를 출력
# as e: 해당 구문(Exception)을 축약하여 지정한 매개변수(e)를 사용
    print(e)
# 앞선 모든 구문이 끝나고 최종적으로 작동하는 구문
finally:
    print(data14)

list.remove(x): x not in list
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# 4. 함수

## 4-1. 함수의 개념

- 함수 : 특정 기능을 수행하는 코드의 집합

In [36]:
# 함수의 생성
def func1(x):
    return x + 200

In [37]:
func1(300)

500

In [38]:
# 성적 처리 프로그램
# def 함수 이름 (매개변수):
#       함수 기능
#       return 최종결과
def func2(x):
    if x >= 90:
        return 'A'
    elif x >= 80:
        return 'B'
    else:
        return 'F'

In [40]:
func2(23)

'F'

In [41]:
# 함수에 여러가지 인자를 넣어 계산
def func3(x, y, z):
    return x + y, z**2

In [44]:
a1 = func3(100,200,30) # 여러 값을 출력하는 함수로 구성한 경우, 튜플형태로 출력
list(a1)

[300, 900]

In [45]:
def func3(x, y, z):
    return [x + y, z**2] # 출력 결과를 특정 자료구조 / 데이터 타입으로 지정하여 출력

In [46]:
func3(10,20,30)

[30, 900]

In [47]:
# return 출력구문 없이 특정 계산의 결과를 출력
def func4(x):
    print(x + 200)

In [48]:
func4(300)

500

In [49]:
# 입력 매개변수 없이 함수를 구성
def func5():
    return 2000

In [50]:
func5()

2000

In [51]:
# input() : 사용자가 특정 값을 입력할 수 있는 함수
input() #문자열로 입력을 받는다

 python

'python'

In [52]:
def func6():
    x = input('숫자를 입력하시오 :')
    return int(x) + 200

In [53]:
func6()

숫자를 입력하시오 : 300

500

In [56]:
# 입력값이 몇개가 될지 모르는 함수를 구성해야 할 때
def func7(*x):  # 별은 여러개의 자료를 한번에 **Packing**하여 받아들임
    # 입력받은 값들은 튜플형태로 사용
    print(type(x))
    return sum(x)

In [57]:
func7(100, 200, 500, 60)

<class 'tuple'>

860

In [58]:
# 특정 입력값의 초기값 세팅 가능
def func8(x1, x2, x3=30):
    return x1 + x2 + x3

In [59]:
func8(10, 20)

60

In [60]:
func8(10, 20, 70)

100

In [61]:
# 덧셈을 수행하지만, 필요할 땐 뺄셈을 수행해주는 함수
def func9(x1, x2, x3=False):
    if x3==True:
        return x1 - x2
    else:
        return x1 + x2

In [62]:
func9(100,200)

300

In [63]:
func9(100, 200, True)

-100

- **재귀함수** (recursion) : 함수 내에서 자기 함수 스스로가 참조되어 작동하는 함수
    - 기저 조건(Base case) : 재귀함수 내에서 자기 자신이 호출되지 않도록 하는 조건
    - 기저 조건이 따로 없다면 무한재귀로 함수가 지속적으로 수행

In [1]:
def func_recurs1(x):
    # 기저 조건 (x값이 반복되며 더해지다가, 10이 되는 순간 재귀가 정지
    if x == 10:
        print('End')
    else:
        print(x)
        func_recurs1(x+1)

In [4]:
func_recurs1(1)

1
2
3
4
5
6
7
8
9
End

In [5]:
# 람다 함수 : 함수를 한줄로 간결하게 만들 때 사용
# 함수의 결과를 변수로 선언하여 활용
def func20(a,b):
    return a + b

In [7]:
data15 = func20(10,20)
data15

30

In [8]:
# 위의 식보다 훨씬 간결해짐
func21 = lambda a,b : a+b
func21(30,40)

70

In [9]:
func22 = lambda a,b : a.append(b)
list1 = [20, 30, 40]
func22(list1, 500)

In [10]:
list1

[20, 30, 40, 500]

## 4-3. 기본 내장 함수

In [1]:
# 파일 읽기
data1 = open('data.txt', 'r') #해당 txt 파일을 스크립트에서 사용 가능하도록 호출 (data 파일 못찾아서 오류났음)
data1

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'

In [2]:
# .readline : open 함수에 의해 불러온 객체를 문자열 형태로 선언
# .lower() : 특정 문자열 내 알파벳들을 소문자로 변경 / .upper() : 대문자로 변경
data1.readline().split(' ') # 함수는 연계하여 사용이 가능

NameError: name 'data1' is not defined

# 4-4. 클래스 Class

- 특정 함수를 반복하여 사용할 때, 함수의 결과값을 계속 유지한 채로 계산할 수 없음
- 함수를 여러개의 변수로 선언하여 손쉽게 사용 -> 클래스
- 프로그래밍에서는 (개발) 클래스가 많이 사용이 됨
- 라이브러리 개념을 이해하기 위해 설명

In [16]:
def func30(x):
    global result # global : 특정 변수가 함수내에서만 선언되지 않고, 전체 코드에서 사용 가능하게끔 바꿔주는 기능
    result += x
    return result

In [17]:
result = 0

In [18]:
func30(100)

100

In [19]:
func30(300)

400

In [20]:
func30(600)

1000

In [21]:
func30(0)

1000

In [22]:
class add_class():
    # 초기화 함수를 설정
    # 특정값의 합을 계산하는 변수를 0으로 초기화
    # 앞서 함수에서 사용한 glabal 역할 수행
    def __init__(self):
        self.result = 0
        #self : 클래스를 변수로 선언하여 사용할 때, 변수명에 자동으로 클래스 내의 함수를 전달함

    def func40(self, x):
        self.result += x
        return self.result

In [23]:
funcA = add_class()
funcB = add_class()

In [24]:
funcA.func40(100)
funcA.func40(200)
funcA.func40(300)

600

In [25]:
funcB.func40(100)

100

In [26]:
funcB.func40(100)

200

# 5. 모듈과 패키지

## 5-1. 모듈 (Modul)
- Python 파일을 따로 생성해서, 해당 파일에 특정 기능을 수행하는 함수를 정의
- 해당 파일을 스크립트로 불러와 파일 내 있는 함수를 사용

In [2]:
#합과 평균을 계산하는 함수가 있는 Modul1.py 파일을 호출
import modul1

In [3]:
modul1.sum_func([100,200,300,400,500])

1500

In [4]:
modul1.mean_func([100,200,300,400,500])

300.0

In [5]:
# 모듈 내 함수를 직접 스크립트 상으로 호출 
from modul1 import sum_func
from modul1 import mean_func

In [6]:
sum_func([100,200,300,400,500])

1500

In [7]:
mean_func([100,200,300,400,500])

300.0

In [8]:
from modul1 import * #별다른 모듈 내 함수 언급없이 함수를 가져와 사용

In [9]:
mean_func([100,200,300,400,500])

300.0

## 6-3. 정규표현식

- 정규표현식(Regular Expression)은 문자열을 처리할 때 특정 패턴을 정의하는데 사용되는 문자열
- 문자열 패턴을 사용하여, 문자열 검색, 대체, 추출 작업등을 수행
- 정규표현식은 특정 규칙을 가지고 있어, 다양한 문자와 연산자를 조합하여 복잡한 문자 패턴을 표현
- 크롤링 또는 자연어처리에서 데이터의 특정 패턴을 찾거나 추출할 때 사용

**메타 문자 (Meta Characters)**
- 문자가 가진 원래의 의미가 아닌 특별한 용도로 사용되는 문자
- 정규표현식에서는 대괄호 [] 안에 포함된 문자들 중 하나와 매치를 뜻함

In [10]:
# . ^ $ +
import re

In [17]:
# 대괄호 [ ] : 대괄호 내 포함된 문자들 중 하나와 매칭되는지 확인
pattern = r'[abc]'
# Raw string -> r 문자열 내에 매타 문자가 포함되어 있다

In [18]:
text1= 'apple is 사과'
re.findall(pattern, text1)

['a']

In [20]:
pattern = r'[a-z]' # 대괄호 내 두 문자 사이의 -기호를 사용하면 두 문자 사이의 범위를 지정
re.findall(pattern, text1)
# findall(): 문자열 전체에서 패턴과 일치하는 모든 부분을 찾아 리스트로 변환

['a', 'p', 'p', 'l', 'e', 'i', 's']

In [23]:
pattern = r'[가-힣]'
text2 = "so you don't cry fo me 세월 지나도 난 변하지 않아~"
re.findall(pattern, text2)

['세', '월', '지', '나', '도', '난', '변', '하', '지', '않', '아']

In [26]:
pattern = r'[가-힣]+' # +기호는 공백을 기준으로 문자의 패턴 확인 ->규칙이라 잘 안외워짐
re.findall(pattern, text2)

['세월', '지나도', '난', '변하지', '않아']

In [27]:
# ^ : 해당 문자열을 제외한 나머지 패턴을 확인
pattern = r'[^가-힣]+'
re.findall(pattern, text2)

["so you don't cry fo me ", ' ', ' ', ' ', ' ', '~']

In [28]:
pattern = r'[a-zA-z]+' # 모든 알파벳 표현 단어를 추출
re.findall(pattern, text2)

['so', 'you', 'don', 't', 'cry', 'fo', 'me']

In [30]:
pattern = r'\d' # \d : 모든 숫자
text3 = "1초라도 안보이면, 2이렇게 초조한데, 3삼초는 어떻게 기다려"
re.findall(pattern, text3)

['1', '2', '3']

In [33]:
# 소괄호는 특정 패턴 앞이나 뒤의 값을 확인
pattern = r'(\d+)\원'
text4 = '2000원 짜리 아이스크림 4개 주세요. 500원 잔돈입니다.'
re.findall(pattern, text4)

['2000', '500']

In [35]:
# re.sub() : 패턴과 일치하는 모든 부분을 다른 문자로 대치
text5 = "그댄 나의 챔피언 너와 나의 챔피언 우리 함께 외치면 승리하리라 한국"
pattern = r'챔피언'
replace_pattern = '챔피폰~'

re.sub(pattern, replace_pattern, text5)

'그댄 나의 챔피폰~ 너와 나의 챔피폰~ 우리 함께 외치면 승리하리라 한국'

In [37]:
# re.split() : 특정 패턴을 기준으로 문자를 분할
pattern = r'\W+' # \W : 비단어 문자
re.split(pattern, text5)

['그댄', '나의', '챔피언', '너와', '나의', '챔피언', '우리', '함께', '외치면', '승리하리라', '한국']